.game-board {
  margin: 1em;
  max-width: 600px;
  max-height: 600px;
  padding: 2rem;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  place-items: center;
}

@media (max-width: 480px) {
  .game-board {
    margin: 1em;
    max-width: 325px;
    max-height: 325px;
    padding: 1.5rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    place-items: center;
  }
}
