.game-piece {
  height: 65px;
  width: 65px;
  background-color: #7945ff;
  border-radius: 50%;
  box-shadow: 0px 4px 4px hsl(0deg 0% 0% / 0.44);
  margin: 0.3em;
}

.player-3:hover {
  cursor: pointer;
  background-color: #ac8cff;
}

.player-1 {
  background-color: #ff6389;
}

.player-2 {
  background-color: #fecc6a;
}

@media (max-width: 480px) {
  .game-piece {
    height: 35px;
    width: 35px;
    margin: 0;
    margin-bottom: 6px;
    margin-inline: 2px;
  }
}
